@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  @apply bg-white dark:bg-[#020617] text-slate-900 dark:text-slate-200;
}
